@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300;1,400&display=swap");

body {
  background-color: #edf5e1;
  // height: 100vh;
  margin: 0;
  font-family: "Poppins", "arial";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
}

html {
  font-size: 16px;
  font-family: Arial;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.logo {
  color: #003b6f;
  font-weight: bold;
}

.emailPng {
  margin-right: -1em;
  margin-bottom: -1.2em;
}

.linkInPng {
  margin-right: -1em;
}

.nav-container {
  background: #4bda8b;
  display: flex;
  flex-flow: row nowrap;
  padding: 1em;
  justify-content: space-evenly;
  max-height: 5.4em;
  overflow-x: hidden;

  a {
    color: #003b6f;
  }
}

figure {
  margin: 0;
}

.headShot {
  max-width: 300px;
}

.hr1 {
  border: 1px solid #003b6f;
  border-radius: 5px;
  margin-bottom: 0.5em;
}

.right-transition2 {
  border-radius: 5%;
  max-width: 600px;
}

.portImg {
  border-radius: 5%;
  max-width: 500px;
  margin-bottom: 1em;
}

ul {
  display: flex;

  a {
    display: block;
    padding: 0 1em;
  }
}

.social-header,
.hero-design {
  display: none;
}

.hero {
  background: #5cdb95;
  color: white;
  display: grid;
  text-align: center;
  padding: 4em;
}

.meet {
  display: flex;
  margin: 0 auto;
  width: 200px;
  font-weight: bold;
  color: #003b6f;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.featured {
  position: relative;
}

.featured::before {
  content: "";
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: #379683;
  top: 1rem;
  left: 1rem;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #5cdb95;
  letter-spacing: 0.2em;
  font-size: 0.85em;
  margin-bottom: 1em;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
}

.featured-desc {
  color: #252525;
  margin-bottom: 3em;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 500;
}

.skills {
  background: #003b6f;
}

.skills-container i {
  font-size: 42px;
}

.skills-container ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em;

  li {
    background: #edf5e1;
    padding: 0.5em;
    border-radius: 1em;
    margin-bottom: 1em;

    .icon-container {
      height: 100px;
      display: grid;
      place-content: center;
      margin: 0 auto;

      &.one {
        width: 80px;
      }
      &.two {
        width: 80px;
      }
      &.three {
        width: 90px;
      }
    }
    .skill-title {
      font-weight: bold;
      text-transform: uppercase;
    }
    .featured-desc skill-desc {
      margin-bottom: 3em;
      font-weight: lighter;
    }
  }
}

section#info {
  padding: 0;
}

.info-container {
  background: #5cdb95;
  // margin: -4em;
  padding: 4em 2em;
  color: #edf5e1;
}

.info-body {
  display: flex;
  flex-flow: column-reverse nowrap;
  margin-bottom: 2.5em;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .info-body {
    flex-flow: row nowrap;
    text-align: left;
  }

  .subtitle-info {
    max-width: 350px;
  }
}

@media only screen and (min-width: 1024px) {
  .hero {
    height: 58rem;
  }

  .nav-container {
    align-content: left;
    display: grid;
    grid-template-columns: 66% auto;
    overflow: unset;
    justify-content: unset;
    background: unset;
    padding: unset;

    nav {
      padding: 1em 0 0 0;
      background: #5cdb95;
      overflow: unset;
    }

    ul {
      justify-content: space-evenly;
    }
  }

  .social-header {
    padding: 1em 0 0 0;
    display: unset;

    ul {
      display: flex;
      justify-content: flex-end;

      img {
        width: 40px;
      }
    }
  }

  .hero {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    padding: 0;

    .content {
      background: #5cdb95;
      padding: 6em 8em 6em 4em;
      text-align: left;

      h1 {
        font-size: 3em;
        line-height: 1.2em;
      }
    }
  }

  .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: 15%;
    width: 100%;
  }

  .featured {
    display: grid;
    grid-template-columns: 45% auto;
    top: -2rem;
    left: 1rem;
    z-index: 3;
    padding-bottom: 0;
  }

  .left {
    place-content: center;
    text-align: left;
    justify-content: start;
  }

  .right-transition2 {
    position: absolute;
    right: 2em;
    top: -2em;
    max-width: 525px;
  }

  .skills-container ul {
    flex-flow: row nowrap;
  }

  .skills-container ul li {
    margin: 1em;
  }

  .portfolio-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .portfolio-left {
    place-content: center;
    text-align: left;
  }

  .portfolio {
    padding-top: 9em;
  }

  .portfolio-container img {
    margin-top: 1em;
    margin-left: 4em;
    border-radius: 5%;
  }

  .portImg {
    float: right;
    min-width: 500px;
    max-width: 500px;
  }

  .inner {
    max-width: 700px;
  }

  .info-body{ 
    justify-content: space-between;
    // padding: 2em 0 0 7em;
  }

  .subtitle-info {
    text-align: left;
    max-width: 450px;
    font-size: 26px;
    padding-left: 2em;
  }

  .headShot {
    max-width: unset;
    height: 600px;
    width: auto;
  }

  i {
    font-size: 64px;
  }

  #tools {
    margin-top: .5em;
  }
}
