@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300;1,400&display=swap");
body {
  background-color: #edf5e1;
  margin: 0;
  font-family: "Poppins", "arial";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
}

html {
  font-size: 16px;
  font-family: Arial;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.logo {
  color: #003b6f;
  font-weight: bold;
}

.emailPng {
  margin-right: -1em;
  margin-bottom: -1.2em;
}

.linkInPng {
  margin-right: -1em;
}

.nav-container {
  background: #4bda8b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 1em;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-height: 5.4em;
  overflow-x: hidden;
}

.nav-container a {
  color: #003b6f;
}

figure {
  margin: 0;
}

.headShot {
  max-width: 300px;
}

.hr1 {
  border: 1px solid #003b6f;
  border-radius: 5px;
  margin-bottom: 0.5em;
}

.right-transition2 {
  border-radius: 5%;
  max-width: 600px;
}

.portImg {
  border-radius: 5%;
  max-width: 500px;
  margin-bottom: 1em;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul a {
  display: block;
  padding: 0 1em;
}

.social-header,
.hero-design {
  display: none;
}

.hero {
  background: #5cdb95;
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
}

.meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 200px;
  font-weight: bold;
  color: #003b6f;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.featured {
  position: relative;
}

.featured::before {
  content: "";
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: #379683;
  top: 1rem;
  left: 1rem;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #5cdb95;
  letter-spacing: 0.2em;
  font-size: 0.85em;
  margin-bottom: 1em;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
}

.featured-desc {
  color: #252525;
  margin-bottom: 3em;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 500;
}

.skills {
  background: #003b6f;
}

.skills-container i {
  font-size: 42px;
}

.skills-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

.skills-container ul li {
  background: #edf5e1;
  padding: 0.5em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.skills-container ul li .icon-container {
  height: 100px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.skills-container ul li .icon-container.one {
  width: 80px;
}

.skills-container ul li .icon-container.two {
  width: 80px;
}

.skills-container ul li .icon-container.three {
  width: 90px;
}

.skills-container ul li .skill-title {
  font-weight: bold;
  text-transform: uppercase;
}

.skills-container ul li .featured-desc skill-desc {
  margin-bottom: 3em;
  font-weight: lighter;
}

section#info {
  padding: 0;
}

.info-container {
  background: #5cdb95;
  padding: 4em 2em;
  color: #edf5e1;
}

.info-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse nowrap;
          flex-flow: column-reverse nowrap;
  margin-bottom: 2.5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .info-body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    text-align: left;
  }
  .subtitle-info {
    max-width: 350px;
  }
}

@media only screen and (min-width: 1024px) {
  .hero {
    height: 58rem;
  }
  .nav-container {
    -ms-flex-line-pack: left;
        align-content: left;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    overflow: unset;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    background: unset;
    padding: unset;
  }
  .nav-container nav {
    padding: 1em 0 0 0;
    background: #5cdb95;
    overflow: unset;
  }
  .nav-container ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .social-header {
    padding: 1em 0 0 0;
    display: unset;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .social-header ul img {
    width: 40px;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .hero .content {
    background: #5cdb95;
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: 15%;
    width: 100%;
  }
  .featured {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 45% auto;
        grid-template-columns: 45% auto;
    top: -2rem;
    left: 1rem;
    z-index: 3;
    padding-bottom: 0;
  }
  .left {
    place-content: center;
    text-align: left;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .right-transition2 {
    position: absolute;
    right: 2em;
    top: -2em;
    max-width: 525px;
  }
  .skills-container ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .skills-container ul li {
    margin: 1em;
  }
  .portfolio-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .portfolio-left {
    place-content: center;
    text-align: left;
  }
  .portfolio {
    padding-top: 9em;
  }
  .portfolio-container img {
    margin-top: 1em;
    margin-left: 4em;
    border-radius: 5%;
  }
  .portImg {
    float: right;
    min-width: 500px;
    max-width: 500px;
  }
  .inner {
    max-width: 700px;
  }
  .info-body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .subtitle-info {
    text-align: left;
    max-width: 450px;
    font-size: 26px;
    padding-left: 2em;
  }
  .headShot {
    max-width: unset;
    height: 600px;
    width: auto;
  }
  i {
    font-size: 64px;
  }
  #tools {
    margin-top: .5em;
  }
}
/*# sourceMappingURL=main.css.map */